
<!DOCTYPE html>
<html lang="en" ng-app="d3angularapp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="m_kinsey">
    <link rel="icon" href="../../favicon.ico">

    <title>Orbitable</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--link href="./css/grid.css" rel="stylesheet"-->

	<!--Angular -->
   	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js">

	<!--D3 -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	
	<!--JS-->
        <script src="./d3.js"></script>
	<script src="./orbit.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Orbitable</h1>
        <p class="lead">Working Example.</p>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-8">

<div d3-bars bar-height="20" bar-padding="5"></div>

	    <!--ul>
	       <li ng-repeat="phone in phones">
	         <span>{{phone.name}}</span>
	         <p>{{phone.snippet}}</p>
	       </li>
	     </ul-->	
          <!-- <svg width="100%" height="500">
			  pretty pictures should be here
			  <div ng-app="orbit.js ng-controller" ng-controller="OrbitController as orbit">
			  <circle ng-repeat="body in simulation" cx="250" cy="250" r="50" opacity = ".6"/>
		     	  </div>
	   </svg> -->
          <div class="row">
            <div class="col-md-6">Body attributes</div>
            <div class="col-md-6">another.</div>
          </div>
        </div>
        <div class="col-md-4">Toolbox here!</div>
      </div>

    </div> <!-- /container -->

  </body>
</html>
