<!DOCTYPE html>
<html lang="en" ng-app="orbitable">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="m_kinsey">
    <link rel="icon" href="public/favicon.ico">

    <title>Orbitable</title>

    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--link href="./css/grid.css" rel="stylesheet"-->

	<!--Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js">

    <!--D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	
	<!--JS-->
    <script src="public/js/d3.js"></script>
    <script src="public/js/orbit.js"></script>

  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Orbitable<span style="font-weight: 200; color: #888;">.me</span></h1>
        <p class="lead">1 user online</p>
      </div>

      <div class="row" ng-controller="BodyCtrl">
        <div class="col-md-8">
            <d3-bodies height-trim="260" size-factor="5" data="data"></d3-bodies>
            <div class="row panel panel-default">
                <div class="col-md-6 panel-body" style="text-align: center;">
                    <div class="col-md-2">
                        <h5>Pos</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">x</div>
                            <input ng-model="data[0].x" type="number" min="1" placeholder="X position of Planet 1" style="width: 75px;" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">y</div>
                            <input ng-model="data[0].y" type="number" min="1" placeholder="Y position of Planet 1" style="width: 75px;" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel-body" style="text-align: center; border-left: 1px solid #ddd;">
                    <div class="input-group">
                        <div class="input-group-addon">Mass:</div>
                        <input ng-model="data[0].m" type="number" min="1" placeholder="Mass of Planet 1" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button name="open">CONNECT</button>
            <button name="close" disabled="disabled">DISCONNECT</button>
            <button name="start" disabled="disabled">START</button>
            <button name="stop" disabled="disabled">STOP</button>
            <button name="reset" disabled="disabled">RESET</button>
            <br>
            <textarea id="console" style="width: 100%;height: 300px; color: white; background-color: black;" readonly="readonly"></textarea>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>
