
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="m_kinsey">
    <link rel="icon" href="../../favicon.ico">

    <title>Orbitable</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">

    <div class="page-header">
        <h1>Orbitable</h1>
        <p class="lead">Working Example.</p>
    </div>
    <div class="mb5"><button name="open">CONNECT</button></div>
    <div><button name="close" disabled="disabled">DISCONNECT</button></div>
    <br />
    <div>
        <button name="start" disabled="disabled">START</button></div>
</div>
<br />
<div>
    <textarea id="output" style="width:620px;height:30px" readonly="readonly"></textarea>
</div>
<br />
<hr>

<div class="row">
    <div class="col-md-8">
        <svg width="500" height="500">
            pretty pictures here
            <circle cx="200" cy="200" r="75" fill= rbg(50,50,50) />
        </svg>
        <div class="row">
            <div class="col-md-6">Body attributes</div>
            <div class="col-md-6">another.</div>
        </div>
    </div>
    <div class="col-md-4">Toolbox here!</div>
</div>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">

    var newData = "";

    var socket = null;

    $(document).ready(function() {

        $('button').bind('click', function() {


            if (this.name === 'start') {
                start();
                return;
            }

            if (this.name === 'open') {
                connect();
                return;
            }

            disconnect();
        });
    });

    function connect() {


        if (socket !== null)
            return;

        $('button[name="open"]').attr('disabled', true);
        $('button[name="close"],button[name="start"]').attr('disabled', false);
        socket = new WebSocket('@{config['websocket-url']}');

        socket.onopen = function() {

        };

        socket.onmessage = function(e) {
            var el = $('#output');
            var m = JSON.parse(decodeURIComponent(e.data)).message;
            //el.val(m + '\n' + el.val());
            el.val(m);
            newData = el.value;

        };

        socket.onclose = function(e) {
            // e.reason ==> total.js client.close('reason message');

        };
    }

    function start() {
        var el = $('input[name="message"]');
        var msg = el.val();

        if (socket !== null) //  && msg.length > 0)
            socket.send(encodeURIComponent(JSON.stringify({ message: msg })));

        el.val('');

        setTimeout( start, 17 );
    }

    function disconnect() {

        if (socket === null)
            return;

        $('button[name="close"],button[name="start"]').attr('disabled', true);
        $('button[name="open"]').attr('disabled', false);

        socket.close();
        socket = null;
    }

</script>
</body>
</html>

