<!DOCTYPE html>
<html lang="en" ng-app="orbitable">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="m_kinsey">
    <link rel="icon" href="favicon.ico">

    <title>Orbitable</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!--jQuery-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    
    <!--Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js">

    <!--D3-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	
    <!--JS-->
    <script src="/js/d3.min.js"></script>
    <script src="/js/orbit.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">

    <div class="page-header">
        <h1>Orbitable<span style="font-weight: 200; color: #888;">.me</span></h1>
        <p class="lead">1 user online</p>
    </div>

    <div class="row" ng-controller="BodyCtrl">
        <div class="col-md-8">
          <d3-bodies height-trim="260" min-zoom="0.1" max-zoom="10" size-factor="1" bodies="bodies" zoom-factor="zoomFactor" translation="translation" current-body="currentBody"></d3-bodies>
            <div class="row panel panel-default">
                <div class="col-md-6 panel-body" style="text-align: center;">
                    <div class="col-md-2">
                        <h5>Pos</h5>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">x</div>
                            <input ng-model="currentBody.x" type="number" placeholder="X position of Planet 2" style="width: 75px;" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">y</div>
                            <input ng-model="currentBody.y" type="number" placeholder="Y position of Planet 2" style="width: 75px;" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 panel-body" style="text-align: center; border-left: 1px solid #ddd;">
                    <div class="input-group">
                        <div class="input-group-addon">Mass:</div>
                        <input ng-model="currentBody.m" type="number" min="0" placeholder="Mass of Planet 1" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button name="open">CONNECT</button>
            <button name="close" disabled="disabled">DISCONNECT</button>
            <button name="start" disabled="disabled">START</button>
            <button name="stop" disabled="disabled">STOP</button>
            <button name="reset" disabled="disabled">RESET</button>
            <button name="center" ng-click="zoomFactor = 1; translation = [0,0]">CENTER</button>
            <br>
            <input ng-model="zoomFactor" type="range" max="10" min="0.1" step="0.1" />
            <input ng-model="translation[0]" type="number" class="form-control" />
            <input ng-model="translation[1]" type="number" class="form-control" />
            <br>
            <textarea id="console" style="width: 100%;height: 200px; color: white; background-color: black;" readonly="readonly"></textarea>
        </div>
    </div>
</div> <!-- /container -->

<script type="text/javascript">

    var consoleArea = $('#console');
    var consoleText = "";
    var socket = null;

    var bodyList = {};

    $(document).ready(function() {
        // WHEN BUTTON IS CLICKED
        $('button').bind('click', function() {

            log("Button pressed: " + this.name);
            // CHECK NAME AND TRIGGER CORRESPONDING FUNCTION

            if (this.name === 'start') {
                send('start');
                return;
            }
            if (this.name === 'stop') {
                send('stop');
                return;
            }
            if (this.name === 'reset') {
                send('reset');
                return;
            }

            if (this.name === 'open') {
                connect();
                return;
            }

            if (this.name === 'close') {
                disconnect();
            }
        });
    });

    function connect() {

        if (socket !== null)
            return;
        $('button[name="open"]').attr('disabled', true);
        $('button[name="close"],button[name="start"],button[name="stop"],button[name="reset"]').attr('disabled', false);
        socket = new WebSocket('@{config['websocket-url']}');

        socket.onopen = function() {

        };

        socket.onmessage = function(e) {

            // This is where we receive the data

            var toConsole = "";

            var command = JSON.parse(decodeURIComponent(e.data)).command;
            if (command === 'message') {
                var msg = JSON.parse(decodeURIComponent(e.data)).message;
                log("Server Message: " + msg);
            }
            if (command === 'update') {
                updatePositions(JSON.parse(decodeURIComponent(e.data)).positions);
            }
            if (command === 'initialize') {
                initializeBodies(JSON.parse(decodeURIComponent(e.data)).bodies);
            }

        };

        socket.onclose = function(e) {
            // e.reason ==> total.js client.close('reason message');
        };
    }

    function send(com) {
        log("Send command: " + com);

        if (socket !== null) //  && msg.length > 0)
            socket.send(encodeURIComponent(JSON.stringify({ command: com})));
    }

    function disconnect() {

        // When disconnect button is pressed...

        if (socket === null)
            return;

        $('button[name="close"],button[name="start"],button[name="stop"],button[name="reset"]').attr('disabled', true);
        $('button[name="open"]').attr('disabled', false);

        socket.close();
        socket = null;
    }

    function updatePositions(positions) {
        // updates the position of each body in bodyList
        for (var i = 0; i < positions.length; i++) {
            bodyList[positions[i][0]][1] = positions[i][1];
            bodyList[positions[i][0]][2] = positions[i][2];
            log("Update > " + bodyToString(bodyList[positions[i][0]]));

        }


    }

    function initializeBodies(initBodies)  {
        // clears bodyList and then populates with new list of bodies
        bodyList = {};
        for (var i = 0; i < initBodies.length; i++) {
            bodyList[initBodies[i][0]] = initBodies[i];
            log("Initialize > " + bodyToString(bodyList[initBodies[i][0]]));
        }
    }

    function updateCircles() {
        //TODO: Update circle positions here.
    }

    function bodyToString(body) {
        return "|id:" + body[0] + "|x:" + body[1] +"|y:" + body[2] +"|m:" + body[3] +"|c:" + body[4];
    }
    function log(text) {

        consoleText = text + "\n" + consoleText;
        consoleArea.val(consoleText);
        if (consoleText.length > 500) {consoleText = consoleText.substring(0,250);}
        //console.val(text + '\n' + console.text().val());
    }

</script>

<script type="text/javascript">
orbitable.controller('BodyCtrl', ['$scope',
function($scope) {
    $scope.zoomFactor = 1;
    $scope.translation = [0,0];
    angularsocket = new WebSocket('@{config['websocket-url']}');
    //$scope.bodies = bodyData;
    angularsocket.onmessage = function(e) {
        var command = JSON.parse(decodeURIComponent(e.data)).command;
        if (command === 'initialize') {
            $scope.$apply(function() {
                var bodies = JSON.parse(decodeURIComponent(e.data)).bodies;
                bodyData = [];
                for (var i = 0; i < bodies.length; i++) {
                    var body = bodies[i];
                    var bodyStruct = {};
                    bodyStruct['id'] = body[0];
                    bodyStruct['x'] = body[1];
                    bodyStruct['y'] = body[2];
                    bodyStruct['m'] = body[3];
                    bodyData.push(bodyStruct);
                }
                $scope.bodies = bodyData;
                $scope.currentBody = $scope.bodies[1];
           });
        } else if (command === 'update') {
            $scope.$apply(function() {
                var positions = JSON.parse(decodeURIComponent(e.data)).positions;
                for (var i = 0; i < positions.length; i++) {
                    bodyData[i].x = positions[i][1];
                    bodyData[i].y = positions[i][2];
                }
            });
        }
    }
}
]);
</script>
</body>
</html>

